<footer>
    <div class="copy">
        <p>
            &copy; Roman Coder 2020
        </p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9cf5a7c0c8.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
<script src="../js/main.js"></script>
</body>

</html>