<%- include("../partials/head")-%>


<%- include("../partials/navbar")-%>

<div class="grid-container">
    <div class="roman-coder">
        <h2>
            <span>About Weasley:</span>
        </h2>
        <div class="roman-pic">
            <img height="400px"src="../assets/romancoder.jpg" class="pic" alt="Roman Coder in Person">
        </div>
        <div class="roman-name">
            <p>
                <span>Chouchane</span> Louai Abderrahmane
            </p>
        </div>
    </div>

    <div class="bio">
        <div class="sheet">
            <div class="sheet-title">
                <h3>Bio:</h3>
                <a href="#"><i class="far fa-edit"></i></a>
            </div>
            <div class="sheet-body">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta non, aspernatur, eligendi consequatur mollitia voluptatum assumenda excepturi explicabo laborum obcaecati provident cumque vitae corrupti reprehenderit adipisci doloremque sapiente dignissimos saepe?
                </p>
            </div>
        </div>
        <div class="sheet">
            <div class="sheet-title">
                <h3>General Info:</h3>
                <a href="#"><i class="far fa-edit"></i></a>
            </div>
            <div class="sheet-body">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta non, aspernatur, eligendi consequatur mollitia voluptatum assumenda excepturi explicabo laborum obcaecati provident cumque vitae corrupti reprehenderit adipisci doloremque sapiente dignissimos saepe?
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta non, aspernatur, eligendi consequatur mollitia voluptatum assumenda excepturi explicabo laborum obcaecati provident cumque vitae corrupti reprehenderit adipisci doloremque sapiente dignissimos saepe?
                </p>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/foot") -%>