<%- include("../partials/head")-%>


<%- include("../partials/navbar")-%>

<div class="main">
    <div class="contacts">
        <h2>Contact List (if you wish ofc)</h2>
        <div class="contact">
            <ul>
                <li>
                    <p>
                        Here is my <a class="link" href="#">Facebook link</a>, where you can find me most of time
                    </p>
                </li>
                <li>
                    <p>
                        if you prefer to act professional and lame, here is my email
                        <span class="link">chouchancs16@gmail.com</span>
                    </p>
                </li>
                <li>
                    <p>
                        to see how bad am i at coding, <a class="link" href="#">github</a> profile is the best
                        where to have a laugh!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="resources">
        <h2>Title is set to stuff until i find a new one</h2>
        <div class="stuff">
            <ul>
                <li>
                    <p>
                        I used as editor <span>vscode</span> to code this with 🤬 and 🧡
                    </p>
                </li>
                <li>
                    <p>
                        I used <span>sass</span> and <span>Express-JS</span>
                    </p>
                </li>
                <li>
                    <p>
                        logo designed by my homie <a href="#">Sofiane Mekroud</a>, make sure to follow him
                        or imma follow you with 🔪
                    </p>
                </li>
                <li>
                    <p>
                        Code will be on this <a href="#">github repo</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include("../partials/foot") -%>