<%- include("../partials/head")-%>


<%- include("../partials/navbar")-%>
<div class="prefix">
    <h2>
        Content Page
    </h2>
</div>
<div class="agenda-wrap">

    <div class="agenda">
        <div class="agenda-title">
            <h3>
                Agenda Title
            </h3>
            <small class="author">
                Created By <span>romancoder01</span>
            </small>
            <br>
            <small class="timestamps">
                Created At <span>19/06/2020 3:45</span>
            </small>
        </div>
        <div class="agenda-body">
            <img src="../assets/content1.png" alt="">
        </div>
    </div>

    <div class="agenda">
        <div class="agenda-title">
            <h3>
                Agenda Title
            </h3>
            <small class="author">
                Created By <span>romancoder01</span>
            </small>
            <br>
            <small class="timestamps">
                Created At <span>19/06/2020 3:45</span>
            </small>
        </div>
        <div class="agenda-body">
            <img src="../assets/place.jpg" alt="">
        </div>
    </div>

    <div class="agenda">
        <div class="agenda-title">
            <h3>
                Agenda Title
            </h3>
            <small class="author">
                Created By <span>romancoder01</span>
            </small>
            <br>
            <small class="timestamps">
                Created At <span>19/06/2020 3:45</span>
            </small>
        </div>
        <div class="agenda-body">
            <img src="../assets/redhead.jpg" alt="">
        </div>
    </div>
    <div class="agenda">
        <div class="agenda-title">
            <h3>
                Agenda Title
            </h3>
            <small class="author">
                Created By <span>romancoder01</span>
            </small>
            <br>
            <small class="timestamps">
                Created At <span>19/06/2020 3:45</span>
            </small>
        </div>
        <div class="agenda-body">
            <img src="../assets/gorg.jpg" alt="">
        </div>
    </div>
</div>

<%- include("../partials/foot") -%>